.conteudo{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.background{
    height: 100vh;
    position: absolute;
    left: 0;
}
.info{
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #fff;
}
.perfil{
    display: flex;
    margin: 40px 0;
    align-items: center;
    margin-top: 20px;
}
.profile{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
}
.perfil h3{
    color: #999999;
    font-size: 24px;
    margin: 0;
}

.perfil span{
    display: block;
    color: #999999;
    font-size: 12px;
    margin: 0;
}
.perfil p{
    color: #999999;
    font-size: 12px;
    margin: 0;
}
.repositorios{
    font-size: 32px;
    color: #ffffff;
    margin: 12px 0;
    text-align: center;
}
